

.header {
    display: grid;
    grid-area: header;
    grid-template-columns: repeat(3, 1fr);
    background-color:$base;
    .logo {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        img {
            height: 10rem;
        }
    }
    .search {
        @include flex-start-center;
        padding-left: 30px;
        input {
            height: 4rem;
            width: 20rem;
        }
    }
    .user {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .user {
            @include user;
        }
        .car {
            @include user; 
        }
    }
}

@media screen and (max-width:600px) {
    .header {
        display: grid;
        grid-area: header;
        grid-template-columns: repeat(3, 1fr);
        background-color:$base;
        .logo {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 20px;
            img {
                height: 5rem;
            }
        }
        .search {
            @include flex-start-center;
            padding-left: 0px;
            input {
                height: 2rem;
                width: 10rem;
            }
        }
        .user {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .user {
                font-size: 2rem;
            }
            .car {
                font-size: 2rem; 
            }
        }
    } 
}